<!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
        <h1>

        </h1>
      </section>


      <section class="content">

        <div class="row">
            <div class="col-xs-12">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-home"></i>
                  <h3 class="box-title">{{restaurant?.name}}</h3>
                </div>
              </div>
            </div>
            <!-- /.col-xs-12 -->

        </div>

        <div class="row">
            <router-outlet></router-outlet>
        </div>

      </section>
      <!-- FIM DO CONTEÚDO -->
